

.ngfor-container {
  display: flex;
  flex-direction: row;
}
.mat-card-title{
  font-size: 30px;
}



editClass{
  background-color: forestgreen;
}


.ngfor-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.mat-card-simples{
  max-width: 300px;
  max-height: 300px;
  background-color: aliceblue;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}


.mat-card-simples {
  width: 80%; /* Largura desejada */
  margin-bottom: 10px; /* Espaço entre os cartões simples */
}


