<div class="ngfor-container">
  <mat-card class="mat-card-simples" *ngFor="let disciplina of disciplinas">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>school</mat-icon>{{disciplina.nome}} - {{disciplina.professorResponsavel?.nome}}
      </mat-card-title>
      <mat-card-subtitle *ngIf="disciplina.id">{{disciplina.semestre}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{disciplina.descricao}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="excluirDisciplina(disciplina)"> <mat-icon>delete</mat-icon> </button>
      <button mat-icon-button (click)="editarDisciplina(disciplina)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
