<main class="main-card">

  <section class="secao">
    <div>
      <mat-icon class="icon">school</mat-icon>
      <div>
        <h1>Ensino e eprendizagem a distância </h1>
        <p>Suas salas de aulas em todo lugar que você for!</p>
        <ul>
            <button mat-flat-button color="primary" mat-button  (click)="openLive()">Fazer Login</button>
          <button mat-flat-button color="primary" mat-button  (click)="openRegister()">Fazer Cadastro</button>
        </ul>
      </div>

    </div>
  </section>
  <div class="benefits">
    <mat-card class="example-benefits">
      <mat-icon>widgets</mat-icon>
      <mat-card-title>Tudo em um só lugar</mat-card-title>
      <mat-card-subtitle>Reúna todas as ferramentas de aprendizagem e gerencie várias turmas em uma única plataforma central.</mat-card-subtitle>
    </mat-card>
    <mat-card class="example-benefits">
      <mat-icon >architecture</mat-icon>
      <mat-card-title>Tudo em um só lugar</mat-card-title>
      <mat-card-subtitle>Reúna todas as ferramentas de aprendizagem e gerencie várias turmas em uma única plataforma central.</mat-card-subtitle>
    </mat-card>
    <mat-card class="example-benefits">
      <mat-icon>groups</mat-icon>
      <mat-card-title>Tudo em um só lugar</mat-card-title>
      <mat-card-subtitle>Reúna todas as ferramentas de aprendizagem e gerencie várias turmas em uma única plataforma central.</mat-card-subtitle>
    </mat-card>
    <mat-card class="example-benefits">
      <mat-icon>phone_android</mat-icon>
      <mat-card-title>Tudo em um só lugar</mat-card-title>
      <mat-card-subtitle>Reúna todas as ferramentas de aprendizagem e gerencie várias turmas em uma única plataforma central.</mat-card-subtitle>
    </mat-card>

  </div>
</main>



