<main class="main-card">

  <section class="secao">
    <div>
      <mat-icon class="icon">school</mat-icon>
      <div>
        <h1>Ensino e eprendizagem a distância </h1>
        <p>Suas salas de aulas em todo lugar que você for!</p>
        <div class="button-main">
            <button mat-flat-button color="primary" mat-button  (click)="openLive()">Fazer Login</button>
          <button mat-flat-button color="primary" mat-button  (click)="openRegister()">Fazer Cadastro</button>
        </div>
      </div>

    </div>
  </section>
  <div class="benefits">
    <mat-card class="example-benefits">
      <mat-icon>widgets</mat-icon>
      <mat-card-title>flexibilidade</mat-card-title>
      <mat-card-content> flexibilidade da plataforma, oferecendo ferramentas e recursos modulares para adaptar o ambiente de aprendizado de acordo com as necessidades individuais do usuário. </mat-card-content>
    </mat-card>
    <mat-card class="example-benefits">
      <mat-icon >architecture</mat-icon>
      <mat-card-title>Organização</mat-card-title>
      <mat-card-content> estrutura e organização da plataforma de ensino, destacando sua base sólida, design intuitivo e a maneira como os conteúdos são organizados</mat-card-content>
    </mat-card>
    <mat-card class="example-benefits">
      <mat-icon>groups</mat-icon>
      <mat-card-title>Grupos</mat-card-title>
      <mat-card-content> colaboração e interação entre os usuários na plataforma. Representa a capacidade de formar comunidades, participar de discussões e trabalhar em conjunto por meio de grupos temáticos </mat-card-content>
    </mat-card>
    <mat-card class="example-benefits">
      <mat-icon> phone_android</mat-icon>
      <mat-card-title>Acessibilidade</mat-card-title>
      <mat-card-content>acessibilidade e a compatibilidade da plataforma com dispositivos móveis. Indica a capacidade de acessar facilmente os recursos educacionais através de smartphones e tablets Android.</mat-card-content>
    </mat-card>

  </div>
</main>



