
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Virtual Rooms<mat-icon>school</mat-icon></span>
    <span class="example-spacer"></span>
      <button mat-button class="example-icon" routerLink="entrar-disciplina"> <mat-icon>add</mat-icon></button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="push">
<!--    <button mat-button class="buttonSideNav" routerLink="">  <mat-icon>home</mat-icon>Início</button>-->

    <button mat-button class="buttonSideNav" routerLink="listagem-disciplina"> <mat-icon>book</mat-icon>Listagem de Disciplinas</button>
    <button mat-button class="buttonSideNav" routerLink="cadastro-disciplina"> <mat-icon>app_registration</mat-icon>Cadastro</button>
    <button mat-button  class="buttonSideNav" routerLink="listar-disciplinas-matriculado"> <mat-icon>book</mat-icon>Minhas Disciplinas</button>

    <mat-expansion-panel hideToggle >
      <mat-expansion-panel-header >
        <mat-panel-title class="painelSideNav">
          <mat-icon>history_edu</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Inscrito
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card class="side-nav-card" *ngFor="let disciplina of disciplinas">
        {{disciplina.id}} {{disciplina.nome}}
        <mat-card-subtitle>{{disciplina.semestre}}</mat-card-subtitle>
      </mat-card>

    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content class="tela">
    <router-outlet ></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


