<mat-card class="card-main">
  <mat-card-title>Cadastro</mat-card-title>
  <mat-form-field class="form-field">
    <mat-label class="mat-label">Email</mat-label>
    <input matInput [(ngModel)]="aluno.email" >
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="mat-label">Nome</mat-label>
    <input matInput type="text" [(ngModel)]="aluno.nome">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="mat-label">Matricula</mat-label>
    <input matInput type="text" [(ngModel)]="aluno.matricula">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label class="mat-label">Password</mat-label>
    <input matInput type="password" [(ngModel)]="aluno.senha">
  </mat-form-field>

  <mat-card-actions class="card-action">
    <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar!</button>
  </mat-card-actions>

</mat-card>
